.containerLayout {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  .target {
    display: flex;
    flex: 0 1 90%;
    min-height: 90vh;
    background-color: #ffffff;
  }
}
