.VisualizerRoutine {
  display: flex;
  flex-flow: column;
  width: 90%;
  max-width: 1024px;
  h1 {
    font-family: "Lato", sans-serif;
    font-size: clamp(2rem, 1.1867rem + 3.6145vw, 3.5rem);
    font-weight: bold;
    text-align: left;
    color: rgb(237, 44, 73);
  }
  span {
    font-family: "Lato", sans-serif;
    font-size: clamp(2rem, 1.1867rem + 3.6145vw, 2rem);
    color: #333;
  }
}
.ExercisesList {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  flex: 1 1 100%;
}
.ExerciseItem {
  flex: 0 1 5rem;
  border: 4px solid gray;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem;
  span {
    padding: 10px;
    font-size: clamp(0.5rem, 0.8rem + 3.6145vw, 2rem);
    color: #333;
  }
}
// .RoutineOptions{

// }
