.HomePageWrapper {
  display: flex;
  flex: 0 0 96%;
  margin: auto;
  min-height: 84vh;
  background-color: #e5e5e5;
}
.LoadingSpinner {
  margin: 0 auto;
  justify-self: center;
  align-self: center;
}
.RoutineControlsSection {
  flex: 1 0 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  text-align: center;

  > h1 {
    color: #333;
    font-size: clamp(2rem, 1.1867rem + 3.6145vw, 5rem);
    margin-bottom: 0;
  }

  &Options {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  &Option {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    min-width: 200px;
    padding: 1.5rem;
    @media screen and (min-width: 425px) {
      min-width: 250px;
    }
    @media screen and (min-width: 768px) {
      min-width: 350px;
    }
    @media screen and (min-width: 1024px) {
      justify-content: center;
      min-width: 250px;
    }
  }
}

.StartButton {
  margin: 1rem auto 2rem;
  background-color: rgb(237, 44, 73);
  min-width: 250px;
  max-width: 370px;
  border-radius: 20rem;
  padding: 0.6rem;
  transition: all 0.2s;
  cursor: pointer;
  border: 0px;
  color: white;
  font-weight: 500;
  font-style: italic;
  font-size: clamp(1rem, 1.1867rem + 3.6145vw, 1.4rem);
  &:hover {
    transform: scale(1.1, 1.1);
  }
}

.VisualizerRoutine {
  margin: 0 auto;
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  // align-self: center;
}
