.HomePageWrapper {
  display: flex;
  flex: 0 0 96%;
  margin: auto;
  height: 84vh;
  background-color: #e5e5e5;
}

.RoutineControlsSection {
  flex: 1 0 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  text-align: center;

  > h1 {
    color: #333;
    font-size: clamp(2rem, 1.1867rem + 3.6145vw, 5rem);
    margin-bottom: 0;
  }

  &Options {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  &Option {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    min-width: 200px;
    @media screen and (min-width: 425px) {
      min-width: 250px;
    }
    @media screen and (min-width: 768px) {
      min-width: 350px;
    }
    @media screen and (min-width: 1024px) {
      justify-content: center;
      min-width: 250px;
    }
  }
}

.StartButton {
  margin: 1rem auto 2rem;
  background-color: rgb(237, 44, 73);
  width: 100%;
  min-width: 250px;
  max-width: 370px;
  border-radius: 20rem;
  h1 {
    transition: all 0.2s;

    margin: 0.2rem;
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
  h1 span {
    color: white;
    cursor: pointer;
    font-size: clamp(1rem, 1.1867rem + 3.6145vw, 2.5rem);
    padding: 20px;
  }
}
